*{
    margin: 0;
}


body{
    color: black;
    margin: auto 0;
    padding: 0 40px;
}

h2, h3, h4{
    font-weight: 500;
}

h2{
    font-size: 20px;
}

.nav-bar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.messages-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.message-card{
    border: 1px solid #2b7fff;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.message-text-preview{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.detail-btn{
    margin-top: 10px ;
}

.page-title{
    font-weight: 600;
    margin-bottom: 20px;
}

.page-content-box{
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul{
    list-style: none;
    padding: 0;
}


a{
    text-decoration: none;
    color: black;
    transition: color 300ms ease-in-out;
}


a:hover,
a:focus{
    color: cornflowerblue;
}

svg{
    width: 32px;
    height: 32px;
    color: #2b7fff;
    transition: color 300ms ease-in-out;
}

svg:focus,
svg:hover{
    color: cornflowerblue;
}


.form-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.form-inputs-box{
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: start;
}

.message-detail-text-box{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    gap: 30px;
    margin: 10px 0;
}

form{
    width: 400px;
}

.border{
    border: 1px solid  #2b7fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
}

.message-detail-card{
    min-width: 550px;
}

.margin-bottom-20px{
    margin-bottom: 20px;
}

input{
    width: 100%;
    height: 40px;
    padding: 2px 4px;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 6px;
}


.message-detail-text-label{
    color: #444444;
    min-width: 70px;
}

.message-detail-text-content{
    max-width: 550px;
}


.primary-btn{
    background-color: #2b7fff;
    border-radius: 5px;
    padding: 7px 15px;
    color: white;
    transition: background-color 300ms ease-in-out;
    border: 1px solid transparent;
}


.primary-btn:focus,
.primary-btn:hover{
    background-color: cornflowerblue;
    color: white;
}


.white-btn{
    background-color: white;
    border: 1px solid #2b7fff;
    border-radius: 5px;
    padding: 6px 15px;
    color: #2b7fff;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.white-btn:focus,
.white-btn:hover{
    background-color: #2b7fff;
    color: white;
}


@media screen and (max-width: 1199.9px) {

}


@media screen and (max-width: 767.9px) {
    body{
        padding: 0 20px;
    }
    form{
        width: 90%;
    }

    h1{
        font-size: 25px;
    }

    .messages-grid{
        gap: 15px;
    }

    .message-detail-card{
        min-width: 90%;
    }
}